<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <div class="mb-3 form-floating">    
        <h5>Sign up</h5>
        <hr style="border: none; background-color: orange; height: 2px;">
    </div>

    <div class="mb-3">
        <label style="margin-right: 10px;">I am a:</label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender">Male
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="female" formControlName="gender">Female
        </label>
    </div>

    <app-text-input [formControl]="$any(registerForm.controls['username'])"
    [label]="'Username'"
    [type]="'text'"
    ></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])"
    [label]="'Known as'"
    [type]="'text'"
    ></app-text-input>

    <!-- <app-text-input [formControl]="$any(registerForm.controls['dateOfBirth'])"
    [label]="'Date of Birth'"
    [type]="'Date'"
    ></app-text-input> -->

    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])"
    [label]="'Date of Birth'"
    [maxDate]="maxDate"
    >
    </app-date-picker>

    <app-text-input [formControl]="$any(registerForm.controls['city'])"
    [label]="'City'"
    [type]="'text'"
    ></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['country'])"
    [label]="'country'"
    [type]="'text'"
    ></app-text-input>

    <!-- <div class="mb-3">
        <label>Who is your favourite user?</label>
        <select class="form-select">
            @for(user of usersFromHomeComponent(); track $index){
                <option [value]="user.username">{{user.userName}}</option>
            }
        </select>
    </div> -->
    <app-text-input [formControl]="$any(registerForm.controls['password'])"
    [label]="'Password'"
    [type]="'password'"
    ></app-text-input>
    
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])"
    [label]="'Confirm Password'"
    [type]="'password'"
    ></app-text-input>

    @if (validationErrors.length > 0) {
        <div class="alert alert-danger text-start">
            <ul>
                @for(error of validationErrors; track $index){
                    <li>{{error}}</li>
                }
            </ul>
        </div>
    }
   
    <div class="form-group text-center">
        <button
        [disabled]="!registerForm.valid"
        class="btn btn-success me-2" type="submit" >Register</button>
        <button class="btn btn-success me-2" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>

<p>{{registerForm.value | json}}</p>
<p>{{registerForm.status| json}}</p>